name: Multi-Architecture build and push container for current revision

on:
  push:
    branches:
      - tla
      - multiarch

env:
  ECR_REPOSITORY: 486029010931.dkr.ecr.us-east-2.amazonaws.com/gstreamer-base-image

jobs:
  # start-arm64-runner:
  #   name: Start ARM64 self-hosted EC2 runner
  #   runs-on: ubuntu-latest
  #   outputs:
  #     label: ${{ steps.start-ec2-runner.outputs.label }}
  #     ec2-instance-id: ${{ steps.start-ec2-runner.outputs.ec2-instance-id }}
  #   steps:
  #     - name: Configure AWS credentials
  #       uses: aws-actions/configure-aws-credentials@v2
  #       with:
  #         aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
  #         aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  #         aws-region: us-east-2
  #     - name: Start EC2 runner
  #       id: start-ec2-runner
  #       uses: machulav/ec2-github-runner@v2
  #       with:
  #         mode: start
  #         github-token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
  #         ec2-image-id: ami-01cdd040bc624077f
  #         ec2-instance-type: c6g.16xlarge
  #         subnet-id: subnet-05c4ffd067c376048
  #         security-group-id: sg-09701ca1e3efdc21c
  #         aws-resource-tags: >
  #           [
  #             {"Key": "Name", "Value": "ec2-github-runner"},
  #             {"Key": "GitHubRepository", "Value": "${{ github.repository }}"}
  #           ]

  # build-and-push-arm64:
  #   name: Build and push ARM64
  #   needs: start-arm64-runner
  #   runs-on: ${{ needs.start-arm64-runner.outputs.label }}
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v2

  #     - name: Configure AWS credentials
  #       uses: aws-actions/configure-aws-credentials@v1
  #       with:
  #         aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
  #         aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  #         aws-region: us-east-2

  #     - name: Install AWS CLI v2 and Docker login
  #       run: |
  #         curl "https://awscli.amazonaws.com/awscli-exe-linux-aarch64.zip" -o "awscliv2.zip"
  #         unzip awscliv2.zip
  #         sudo ./aws/install --update
  #         aws ecr get-login-password --region us-east-2 | docker login --username AWS --password-stdin 486029010931.dkr.ecr.us-east-2.amazonaws.com

  #     - name: Docker
  #       run: |
  #         docker pull 486029010931.dkr.ecr.us-east-2.amazonaws.com/gstreamer-base-image:latest-arm64 || true
  #         docker build . -f ci/docker/tella/Dockerfile --platform linux/arm64/v8 --cache-from 486029010931.dkr.ecr.us-east-2.amazonaws.com/gstreamer-base-image:latest-arm64 -t 486029010931.dkr.ecr.us-east-2.amazonaws.com/gstreamer-base-image:latest-arm64
  #         docker push 486029010931.dkr.ecr.us-east-2.amazonaws.com/gstreamer-base-image:latest-arm64
  #         docker tag 486029010931.dkr.ecr.us-east-2.amazonaws.com/gstreamer-base-image:latest-arm64 486029010931.dkr.ecr.us-east-2.amazonaws.com/gstreamer-base-image:arm64-$(git rev-parse --short "$GITHUB_SHA")
  #         docker push 486029010931.dkr.ecr.us-east-2.amazonaws.com/gstreamer-base-image:arm64-$(git rev-parse --short "$GITHUB_SHA")

  #     - name: Run gst-inspect-1.0
  #       run: |
  #         docker run --rm 486029010931.dkr.ecr.us-east-2.amazonaws.com/gstreamer-base-image:latest-arm64 gst-inspect-1.0

  # stop-arm64-runner:
  #   name: Stop ARM64 self-hosted EC2 runner
  #   needs:
  #     - start-arm64-runner
  #     - build-and-push-arm64
  #   runs-on: ubuntu-latest
  #   if: ${{ always() }} # required to stop the runner even if the error happened in the previous jobs
  #   steps:
  #     - name: Configure AWS credentials
  #       uses: aws-actions/configure-aws-credentials@v1
  #       with:
  #         aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
  #         aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  #         aws-region: us-east-2
  #     - name: Stop EC2 runner
  #       uses: machulav/ec2-github-runner@v2
  #       with:
  #         mode: stop
  #         github-token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
  #         label: ${{ needs.start-arm64-runner.outputs.label }}
  #         ec2-instance-id: ${{ needs.start-arm64-runner.outputs.ec2-instance-id }}

  build-and-push-amd64:
    name: Build and push AMD64
    runs-on: big-runner
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Install AWS CLI v2 and Docker login
        run: |
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip awscliv2.zip
          sudo ./aws/install --update
          aws ecr get-login-password --region us-east-2 | docker login --username AWS --password-stdin 486029010931.dkr.ecr.us-east-2.amazonaws.com

      - name: Docker
        run: |
          docker pull 486029010931.dkr.ecr.us-east-2.amazonaws.com/gstreamer-base-image:latest-amd64 || true
          docker build . -f ci/docker/tella/Dockerfile --platform linux/amd64 --cache-from 486029010931.dkr.ecr.us-east-2.amazonaws.com/gstreamer-base-image:latest-amd64 -t 486029010931.dkr.ecr.us-east-2.amazonaws.com/gstreamer-base-image:latest-amd64
          docker push 486029010931.dkr.ecr.us-east-2.amazonaws.com/gstreamer-base-image:latest-amd64
          docker tag 486029010931.dkr.ecr.us-east-2.amazonaws.com/gstreamer-base-image:latest-amd64 486029010931.dkr.ecr.us-east-2.amazonaws.com/gstreamer-base-image:amd64-$(git rev-parse --short "$GITHUB_SHA")
          docker push 486029010931.dkr.ecr.us-east-2.amazonaws.com/gstreamer-base-image:amd64-$(git rev-parse --short "$GITHUB_SHA")

      - name: Run gst-inspect-1.0
        run: |
          docker run --rm 486029010931.dkr.ecr.us-east-2.amazonaws.com/gstreamer-base-image:latest-amd64 gst-inspect-1.0

  create-multiarch-manifest:
    name: Create and push multiarch manifest
    runs-on: ubuntu-latest
    needs:
      # - build-and-push-arm64
      - build-and-push-amd64
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Install AWS CLI v2 and Docker login
        run: |
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip awscliv2.zip
          sudo ./aws/install --update
          aws ecr get-login-password --region us-east-2 | docker login --username AWS --password-stdin 486029010931.dkr.ecr.us-east-2.amazonaws.com

      - name: Create and push manifest images
        run: |
          # docker manifest create 486029010931.dkr.ecr.us-east-2.amazonaws.com/gstreamer-base-image:latest-multi 486029010931.dkr.ecr.us-east-2.amazonaws.com/gstreamer-base-image:latest-amd64 486029010931.dkr.ecr.us-east-2.amazonaws.com/gstreamer-base-image:latest-arm64
          docker manifest create 486029010931.dkr.ecr.us-east-2.amazonaws.com/gstreamer-base-image:latest-multi 486029010931.dkr.ecr.us-east-2.amazonaws.com/gstreamer-base-image:latest-amd64
          docker manifest push 486029010931.dkr.ecr.us-east-2.amazonaws.com/gstreamer-base-image:latest-multi
