name: Multi-Architecture build and push container for current revision

on:
  push:
    branches:
      - '*'

env:
  ECR_REPOSITORY: 486029010931.dkr.ecr.us-east-2.amazonaws.com/gstreamer-base-image
  GC_REPOSITORY: us-central1-docker.pkg.dev/crypto-will-280220/gstreamer-base-image/gstreamer-base-image
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }}

jobs:
  start-arm64-runner:
    name: Start ARM64 self-hosted EC2 runner
    runs-on: ubuntu-latest
    outputs:
      label: ${{ steps.start-ec2-runner.outputs.label }}
      ec2-instance-id: ${{ steps.start-ec2-runner.outputs.ec2-instance-id }}
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2
      - name: Start EC2 runner
        id: start-ec2-runner
        uses: machulav/ec2-github-runner@v2
        with:
          mode: start
          github-token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          ec2-image-id: ami-0b54eec8e14dc3012
          ec2-instance-type: c6g.16xlarge
          subnet-id: subnet-05c4ffd067c376048
          security-group-id: sg-09701ca1e3efdc21c
          aws-resource-tags: >
            [
              {"Key": "Name", "Value": "ec2-github-runner"},
              {"Key": "GitHubRepository", "Value": "${{ github.repository }}"}
            ]

  build-and-push-arm64-aws:
    name: Build and push ARM64 AWS
    needs: start-arm64-runner
    runs-on: ${{ needs.start-arm64-runner.outputs.label }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Install AWS CLI v2 and Docker login
        run: |
          curl "https://awscli.amazonaws.com/awscli-exe-linux-aarch64.zip" -o "awscliv2.zip"
          unzip awscliv2.zip
          sudo ./aws/install --update
          aws ecr get-login-password --region us-east-2 | docker login --username AWS --password-stdin 486029010931.dkr.ecr.us-east-2.amazonaws.com

      - name: Docker AWS
        run: |
          docker pull $ECR_REPOSITORY:arm64-$BRANCH_NAME || true
          docker build . -f ci/docker/tella/Dockerfile --platform linux/arm64/v8 --cache-from $ECR_REPOSITORY:arm64-$BRANCH_NAME -t $ECR_REPOSITORY:arm64-$GITHUB_SHA
          docker tag $ECR_REPOSITORY:arm64-$GITHUB_SHA $ECR_REPOSITORY:arm64-$BRANCH_NAME
          docker push $ECR_REPOSITORY:arm64-$GITHUB_SHA
          docker push $ECR_REPOSITORY:arm64-$BRANCH_NAME

      - name: Run gst-inspect-1.0
        run: |
          docker run --rm $ECR_REPOSITORY:arm64-$GITHUB_SHA gst-inspect-1.0

  build-and-push-arm64-gcp:
    name: Build and push ARM64 GCP
    needs: start-arm64-runner
    runs-on: ${{ needs.start-arm64-runner.outputs.label }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - id: 'auth'
        uses: 'google-github-actions/auth@v2'
        with:
            credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Configure Docker for Google Cloud
        run: gcloud auth configure-docker us-central1-docker.pkg.dev

      - name: Docker Google Cloud
        run: |
          docker pull $GC_REPOSITORY:arm64-$BRANCH_NAME || true
          docker build . -f ci/docker/tella/Dockerfile --platform linux/arm64/v8 --cache-from $GC_REPOSITORY:arm64-$BRANCH_NAME -t $GC_REPOSITORY:arm64-$GITHUB_SHA
          docker tag $GC_REPOSITORY:arm64-$GITHUB_SHA $GC_REPOSITORY:arm64-$BRANCH_NAME
          docker push $GC_REPOSITORY:arm64-$GITHUB_SHA
          docker push $GC_REPOSITORY:arm64-$BRANCH_NAME

      - name: Run gst-inspect-1.0
        run: |
          docker run --rm $GC_REPOSITORY:arm64-$GITHUB_SHA gst-inspect-1.0

  stop-arm64-runner:
    name: Stop ARM64 self-hosted EC2 runner
    needs:
      - start-arm64-runner
      - build-and-push-arm64-aws
      - build-and-push-arm64-gcp
    runs-on: ubuntu-latest
    if: ${{ always() }} # required to stop the runner even if the error happened in the previous jobs
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2
      - name: Stop EC2 runner
        uses: machulav/ec2-github-runner@v2
        with:
          mode: stop
          github-token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          label: ${{ needs.start-arm64-runner.outputs.label }}
          ec2-instance-id: ${{ needs.start-arm64-runner.outputs.ec2-instance-id }}

  build-and-push-amd64-aws:
    name: Build and push AMD64 AWS
    runs-on: big-runner
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Install AWS CLI v2 and Docker login
        run: |
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip awscliv2.zip
          sudo ./aws/install --update
          aws ecr get-login-password --region us-east-2 | docker login --username AWS --password-stdin 486029010931.dkr.ecr.us-east-2.amazonaws.com

      - name: Docker AWS
        run: |
          docker pull $ECR_REPOSITORY:amd64-$BRANCH_NAME || true
          docker build . -f ci/docker/tella/Dockerfile --platform linux/amd64 --cache-from $ECR_REPOSITORY:amd64-$BRANCH_NAME -t $ECR_REPOSITORY:amd64-$GITHUB_SHA
          docker tag $ECR_REPOSITORY:amd64-$GITHUB_SHA $ECR_REPOSITORY:amd64-$BRANCH_NAME
          docker push $ECR_REPOSITORY:amd64-$GITHUB_SHA
          docker push $ECR_REPOSITORY:amd64-$BRANCH_NAME

      - name: Run gst-inspect-1.0
        run: |
          docker run --rm $ECR_REPOSITORY:amd64-$GITHUB_SHA gst-inspect-1.0

  build-and-push-amd64-gcp:
    name: Build and push AMD64 GCP
    runs-on: big-runner
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - id: 'auth'
        uses: 'google-github-actions/auth@v2'
        with:
            credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Configure Docker for Google Cloud
        run: gcloud auth configure-docker us-central1-docker.pkg.dev

      - name: Docker Google Cloud
        run: |
          docker pull $GC_REPOSITORY:amd64-$BRANCH_NAME || true
          docker build . -f ci/docker/tella/Dockerfile --platform linux/amd64 --cache-from $GC_REPOSITORY:amd64-$BRANCH_NAME -t $GC_REPOSITORY:amd64-$GITHUB_SHA
          docker tag $GC_REPOSITORY:amd64-$GITHUB_SHA $GC_REPOSITORY:amd64-$BRANCH_NAME
          docker push $GC_REPOSITORY:amd64-$GITHUB_SHA
          docker push $GC_REPOSITORY:amd64-$BRANCH_NAME

      - name: Run gst-inspect-1.0
        run: |
          docker run --rm $GC_REPOSITORY:amd64-$GITHUB_SHA gst-inspect-1.0

  create-multiarch-manifest:
    name: Create and push multiarch manifest AWS
    runs-on: ubuntu-latest
    needs:
      - build-and-push-arm64-aws
      - build-and-push-amd64-aws
      - build-and-push-arm64-gcp
      - build-and-push-amd64-gcp
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Install AWS CLI v2 and Docker login
        run: |
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip awscliv2.zip
          sudo ./aws/install --update
          aws ecr get-login-password --region us-east-2 | docker login --username AWS --password-stdin 486029010931.dkr.ecr.us-east-2.amazonaws.com

      - name: Create and push manifest images
        run: |
          docker manifest create $ECR_REPOSITORY:$GITHUB_SHA $ECR_REPOSITORY:amd64-$GITHUB_SHA $ECR_REPOSITORY:arm64-$GITHUB_SHA
          docker manifest push $ECR_REPOSITORY:$GITHUB_SHA
          docker manifest create $ECR_REPOSITORY:$BRANCH_NAME $ECR_REPOSITORY:amd64-$BRANCH_NAME $ECR_REPOSITORY:arm64-$BRANCH_NAME
          docker manifest push $ECR_REPOSITORY:$BRANCH_NAME

      - id: 'auth'
        uses: 'google-github-actions/auth@v2'
        with:
            credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Configure Docker for Google Cloud
        run: gcloud auth configure-docker us-central1-docker.pkg.dev

      - name: Docker Google Cloud
        run: |
          docker manifest create $GC_REPOSITORY:$GITHUB_SHA $GC_REPOSITORY:amd64-$GITHUB_SHA $GC_REPOSITORY:arm64-$GITHUB_SHA
          docker manifest push $GC_REPOSITORY:$GITHUB_SHA
          docker manifest create $GC_REPOSITORY:$BRANCH_NAME $GC_REPOSITORY:amd64-$BRANCH_NAME $GC_REPOSITORY:arm64-$BRANCH_NAME
          docker manifest push $GC_REPOSITORY:$BRANCH_NAME

