name: Multi-Architecture build and push container for current revision

on:
  workflow_dispatch:
  push:
    branches:
      - "*"

env:
  ECR_REPOSITORY: 486029010931.dkr.ecr.us-east-2.amazonaws.com/gstreamer-base-image
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }}

jobs:
  build-and-push-arm64-aws:
    name: Build and push ARM64 AWS
    runs-on: big-arm-runner
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Install AWS CLI v2 and Docker login
        run: |
          curl "https://awscli.amazonaws.com/awscli-exe-linux-aarch64.zip" -o "awscliv2.zip"
          unzip awscliv2.zip
          sudo ./aws/install --update
          aws ecr get-login-password --region us-east-2 | docker login --username AWS --password-stdin 486029010931.dkr.ecr.us-east-2.amazonaws.com

      - name: Docker AWS
        run: |
          docker pull $ECR_REPOSITORY:arm64-$BRANCH_NAME || true
          docker pull $ECR_REPOSITORY:arm64-$BRANCH_NAME-build || true

          docker build . -f ci/docker/tella/Dockerfile --platform linux/arm64/v8 --cache-from $ECR_REPOSITORY:arm64-$BRANCH_NAME-build -t $ECR_REPOSITORY:arm64-$GITHUB_SHA-build --target build-deps-gstreamer
          docker tag $ECR_REPOSITORY:arm64-$GITHUB_SHA-build $ECR_REPOSITORY:arm64-$BRANCH_NAME-build

          docker build . -f ci/docker/tella/Dockerfile --platform linux/arm64/v8 --cache-from $ECR_REPOSITORY:arm64-$BRANCH_NAME -t $ECR_REPOSITORY:arm64-$GITHUB_SHA --target release-deps-gstreamer
          docker tag $ECR_REPOSITORY:arm64-$GITHUB_SHA $ECR_REPOSITORY:arm64-$BRANCH_NAME

          docker push $ECR_REPOSITORY:arm64-$GITHUB_SHA
          docker push $ECR_REPOSITORY:arm64-$BRANCH_NAME

          docker push $ECR_REPOSITORY:arm64-$GITHUB_SHA-build
          docker push $ECR_REPOSITORY:arm64-$BRANCH_NAME-build
      - name: Run gst-inspect-1.0
        run: |
          docker run --rm $ECR_REPOSITORY:arm64-$GITHUB_SHA sh -c 'gst-inspect-1.0 && gst-inspect-1.0 --version'

  run-ges-tests:
    name: Run GES Tests with uridecodepoolsrc
    runs-on: big-runner
    container:
      image: registry.freedesktop.org/thiblahute/gstreamer/amd64/fedora:2025-03-14.0-1.26
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup and Run Tests
        run: |
          export RUSTUP_HOME="/usr/local/rustup"
          export CARGO_HOME="/usr/local/cargo"
          export PATH="/usr/local/cargo/bin:$PATH"
          meson subprojects update --reset
          meson setup --native-file ci/docker/tella/native.ini -Dpackage-origin="Tella $(git rev-parse --short HEAD)" builddir
          ninja -C builddir
          git config --global --add safe.directory $PWD
          GES_ENABLE_URIDECODEPOOLSRC=true ./gst-env.py gst-validate-launcher ges --dump-on-failure -j 5 --sync -b "ges.test.*" -b ".*title.*"

  create-multiarch-manifest:
    name: Create and push multiarch manifest AWS
    runs-on: ubuntu-latest
    needs:
      - build-and-push-arm64-aws
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Install AWS CLI v2 and Docker login
        run: |
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip awscliv2.zip
          sudo ./aws/install --update
          aws ecr get-login-password --region us-east-2 | docker login --username AWS --password-stdin 486029010931.dkr.ecr.us-east-2.amazonaws.com

      - name: Create and push manifest images
        run: |
          docker manifest create $ECR_REPOSITORY:$GITHUB_SHA-build $ECR_REPOSITORY:arm64-$GITHUB_SHA-build
          docker manifest push $ECR_REPOSITORY:$GITHUB_SHA-build

          docker manifest create $ECR_REPOSITORY:$BRANCH_NAME-build $ECR_REPOSITORY:arm64-$BRANCH_NAME-build
          docker manifest push $ECR_REPOSITORY:$BRANCH_NAME-build

          docker manifest create $ECR_REPOSITORY:$GITHUB_SHA $ECR_REPOSITORY:arm64-$GITHUB_SHA
          docker manifest push $ECR_REPOSITORY:$GITHUB_SHA

          docker manifest create $ECR_REPOSITORY:$BRANCH_NAME $ECR_REPOSITORY:arm64-$BRANCH_NAME
          docker manifest push $ECR_REPOSITORY:$BRANCH_NAME
